In [1]:
#Nome: Guilherme de Abreu Lima Buitrago Miranda
#Matrícula: 2018054788
#Questões a serem feitas: 1, 6, 5, 8, 9, 10

import io
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('tp1.db')
cursor = conn.cursor()

In [ ]:
f = io.open('despesas_publicas_tp1.sql', 'r', encoding='ISO-8859-1')
sql = f.read()
cursor.executescript(sql)

In [ ]:
at1 = pd.read_sql_query("SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO "+
    "FROM SUBFUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO WHERE COD_FUNCAO IN "+
    "(SELECT COD_FUNCAO FROM DETALHAMENTO_FUNCAO GROUP BY COD_FUNCAO ORDER BY COUNT(*) DESC LIMIT 1)",
    conn)
at1

In [ ]:
at6=pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) FROM "+
    "FUNCAO NATURAL JOIN SUBFUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO "+
    "NATURAL JOIN DESPESA_PUBLICA NATURAL JOIN PROGRAMA_GOVERNO "+
    "WHERE ANO_DESPESA = 2018 AND (MES_DESPESA = 7 "+
    "OR MES_DESPESA = 8 OR MES_DESPESA = 9) AND NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS'"+
    " GROUP BY COD_SUBFUNCAO",
    conn)

at6

In [ ]:
at5=pd.read_sql_query("SELECT COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO FROM PROGRAMA_GOVERNO NATURAL JOIN "+
                      "DETALHAMENTO_FUNCAO NATURAL JOIN DESPESA_PUBLICA NATURAL JOIN FUNCAO "+
                      "WHERE ANO_DESPESA = 2018 AND NOME_FUNCAO = 'Educação' " +
                      "GROUP BY COD_PROGRAMA_GOVERNO ORDER BY SUM(VALOR_DESPESA) DESC LIMIT 3",
    conn)

at5

In [ ]:
at8=pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, COUNT(*), SUM(VALOR_DESPESA) FROM "+
                      "SUBFUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN PROGRAMA_GOVERNO NATURAL JOIN DESPESA_PUBLICA "+
                      "GROUP BY NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO",
    conn)

at8

In [ ]:
at9=pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA "
                      "FROM DESPESA_PUBLICA NATURAL JOIN "+
                      "(SELECT COD_ORGAO, MAX(QTD_ORGAOS_SUBORDINADOS) FROM ORGAO)",
    conn)

at9

In [ ]:
at10=pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA "+
                      "FROM DESPESA_PUBLICA NATURAL JOIN "+
                      "(SELECT COD_ORGAO, SUM(VALOR_DESPESA) AS SOMA FROM DESPESA_PUBLICA WHERE ANO_DESPESA = 2018 "+
                      "GROUP BY COD_ORGAO ORDER BY SOMA DESC LIMIT 1) ",
    conn)

at10

In [ ]:
#Parte 2 - Tradução de Comandos da Álgebra Relacional

In [ ]:
at12=pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO FROM " +
                       "(FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO)",
    conn)

at12

In [ ]:
at13=pd.read_sql_query("SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO FROM " +
                       "PROGRAMA_GOVERNO NATURAL JOIN DESPESA_PUBLICA WHERE MODALIDADE_DESPESA = 'Reserva de Contingência'",
    conn)

at13

In [ ]:
at14=pd.read_sql_query("SELECT DISTINCT VALOR_DESPESA, NOME_ORGAO FROM " +
                       "DESPESA_PUBLICA NATURAL JOIN ORGAO WHERE NOME_ORGAO = 'Ministério da Fazenda'",
    conn)

at14

In [ ]:
at15=pd.read_sql_query("SELECT DISTINCT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM " +
                       "DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO WHERE NOME_ORGAO = 'Ministério da Saúde'",
    conn)

at15